{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/css/.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/rootroom.css' %}">
</head>

<body style='text-align: center'>
    <div id="content">
    {% include 'app/head_for_admin.html' %}
    <h1>Adding in DB. [ {{ amount }} ]</h1>
    <form id="formAdd">{% csrf_token %}
        {{form.as_p}}
        <button class='buttons' type="submit">Save</button>
    </form>
    </div>

    <script src="/static/app/js/ajaxs.js"></script>
</body>
</html>