{% load staticfiles %}
{% include 'app/head_for_admin.html' %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Verbs 100</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/css/rootroom.css' %}">
</head>

<body>
    <div class="container">
    <h3>Amount in DB. [ {{ amount }} ]</h3>
    <form id="formAdd" method="POST">{% csrf_token %}
        {{form.as_p}}
        <div class="buttons_in_addition">
            <input class='btn_save' type="submit" value="Save">
            <input type="button"  class="btn_cancel" onclick="location.href = '/rootroom'" value='Cancel'>
        </div>
    </form>
    </div>

    <!--/*<script src="/static/app/js/ajaxs.js"></script>*/-->
</body>
</html>