{% load staticfiles %}
{% include 'app/head_for_admin.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/rootroom.css' %}">
</head>
<body>
    <div class="container">
    <p>My name is data_edit.html</p>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
    <input type="submit" class="btn_save" name='save' value="Save">
    <input type="button"  class="btn_cancel" onclick="location.href = '/rootroom'" value='Cancel'>
    <input type="submit" class="btn_delete" name='delete' value='Delele'>
    </form>
    </div>
</body>
</html>