{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="content">
    <link rel="stylesheet" type='text/css' href="{% static 'app/css/rootroom.css' %}"/>

    {{count}}<br>
    <form id='myform'>{% csrf_token %}
        <input style="width: 170px; height: 30px" type="text" name="something" autocomplete="off">
        <br>
        <button type="submit">Submit</button>
    </form>
    </div>

   <script src="/static/app/js/ajaxs.js"></script>
</body>
</html>