{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'app/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class='label'>Room of Root</h1>
            <nav>
                <ul class="menu">
                    <a href='/admin'>Admin</a>
                </ul>
                <ul class="menu">
                    <a href="/rootroom">Rootroom</a>
                </ul>
                <ul class="menu">
                    <a href="/">App</a>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
                    