{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'app/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class='label'>Irregular Verbs 100</h1>
            <nav>
                <ul class="menu">
                    {% if user.is_staff %}
                        <a href="/rootroom">Root</a>
                    {% endif %}
                </ul>
                <ul class="menu">
                    <div class='errorstyle' id='error'></div>
                </ul>
                <ul class="menu">
                    <div class="rightstyle" id='right'></div>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
                    