{% load staticfiles %}
{% include 'app/head.html' %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/onoff.css' %}">
    <link href="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.js"></script>
</head>
    <audio muted id="audio" src="/static/app/0091.mp3" type="audio/mp3"></audio>
<body class="generalbody">

    <div id='hide'>
        <div class="can-toggle">
            <input id="a" type="checkbox">
            <label for="a">
            <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
            </label>
        </div>

        <div class='ruword' id='text'></div>
        <br>


        <form onsubmit="general();return false;" id='hi' name='field'>
            <input type="text" id='tmp' autocomplete="off" class="text" name='input' onfocus="return getStarteEnable(this)"
            placeholder="infinitive    past simple    past participle">
            <input type="button" id='dell' class="butDell" value="X" onclick="dellValueFromField()">
            <br>
            <br>
            <a class="hide_show" href='javascript:;' onclick="toggle(this);hi.reset();">hide</a>

            <div id='hide_show'>

            <input type="button" class="buttons" id='0' onmousedown="sound()" onclick="addElem('0')">
            <input type="button" id='1' class="buttons" onmousedown="sound()" onclick="addElem('1')">
            <input type="button" id='2' class="buttons" onmousedown="sound()" onclick="addElem('2')">
            <br>
            <input type="button" id='3' class="buttons" onmousedown="sound()" onclick="addElem('3')">
            <input type="button" id='4' class="buttons" onmousedown="sound()" onclick="addElem('4')">
            <input type="button" id='5' class="buttons" onmousedown="sound()" onclick="addElem('5')">
            <br>
            <br>
            <input disabled type="button" id='t' class="b" onclick="general()" value='>>>'>
            </div>

        </form>
    </div>


    <script>
        $("#t").keyup(function(event){
            if(event.keyCode == 13){
                event.preventDefault();
            }
        })
    </script>

    <div id='afterShow'>
        <h3 class="ruword" >You can start from the beginnig</h3>
        <button class="buttons" onclick="reloadPage()">press</button>
    </div>

    <script>
        function toggle(a){
            var target = document.getElementById('hide_show');
            target.style.display = target.style.display == 'none' ? "block" : 'none';
            a.innerText = a.innerText == 'hide' ? 'show' : 'hide';
        }
        function getStarteEnable(ctx) {
            var style = document.getElementById('hide_show').style.display;
            return style === 'none' ? true : ctx.blur();
        }
    </script>

    <script>
        var ru = "{{ruwords}}"
        var en = "{{enwords}}"
        var stackbut = "{{stackbut}}"
        document.getElementById('afterShow').style.display = 'none';
    </script>

    <script src='/static/app/js/jsindex.js'></script>
    </body>
    </html>