{% load staticfiles %}
{% include 'app/head.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/onoff.css' %}">
    <link href="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.1/sweetalert2.min.js"></script>
</head>
    <audio muted id="audio" src="/static/app/0091.mp3" type="audio/mp3"></audio>
<body>

    <div class="can-toggle">
        <input id="a" type="checkbox">
        <label for="a">
        <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
        </label>
    </div>

    <div class='ruword' id='text'></div>
    <br>

    <form name='field'>
        <input type="text" class="text" name='input' onfocus="this.blur()"
        placeholder="infinitive    past simple    past participle">
        <input type="button" id='dell' class="butDell" value="X" onclick="dellValueFromField()"
        <br>
        <br>

        <input type="button" class="buttons" id='0' onmousedown="sound()" onclick="addElem('0')">
        <input type="button" id='1' class="buttons" onmousedown="sound()" onclick="addElem('1')">
        <input type="button" id='2' class="buttons" onmousedown="sound()" onclick="addElem('2')">
        <input type="button" id='3' class="buttons" onmousedown="sound()" onclick="addElem('3')">
        <input type="button" id='4' class="buttons" onmousedown="sound()" onclick="addElem('4')">
        <br>
        <input type="button" id='5' class="buttons" onmousedown="sound()" onclick="addElem('5')">
        <input type="button" id='6' class="buttons" onmousedown="sound()" onclick="addElem('6')">
        <input type="button" id='7' class="buttons" onmousedown="sound()" onclick="addElem('7')">
        <br>
        <input type="button" id='8' class="buttons" onmousedown="sound()" onclick="addElem('8')">
        <input type="button" id='9' class="buttons" onmousedown="sound()" onclick="addElem('9')">

        <br>
        <input disabled type="button" id='t' class="b" onclick="general()" value='>>>'>
    </form>

    <script>
        var ru = "{{ruwords}}"
        var en = "{{enwords}}"
        var stackbut = "{{stackbut}}"
        var amount_points = "{{amount_points}}"
        var ri_ = '{{ri}}'
        var er_ = '{{er}}'
    </script>
    <script src='/static/app/js/jsindex.js'></script>
    </body>
    </html>