{% include 'app/head_for_admin.html' %}
{% load staticfiles %}
<!--{% include 'app/head.html' %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/rootroom.css' %}">
</head>
<body>
    <br>
    <div class="container">
    <hr width="900" size="0" color="#79AEC8" />
    {% for obj in data %}
    <li>
    <h3><a href="{% url 'data_edit' pk=obj.pk %}">{{ obj.russia }}</a></h3>
    </li>
    {% endfor %}

    {% if data.has_previous %}
    <a href="?page={{ data.previous_page_number }}">go back</a>
    {% endif %}

    Page {{ data.number }} from {{ data.paginator.num_pages }}

    {% if data.has_next %}
    <a href="?page={{ data.next_page_number }}">next</a>
    {% endif %}

    </div>
</body>
</html>
