{% load staticfiles %}
{% include 'app/head_for_admin.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/rootroom.css' %}">
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div class="placeSearch">
        <form  id='formSearch' action="/search/" method="get">
            <input class="search" type="text" name="q"\>
            <button  class='buttons' type="submit">Search</button>
        </form>
        {% if errors %}
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="placeLinks">

        <ul>
            <li><a href="javascript://" onclick="$('#content').load('/demo');return false;">Demo</a></li>
            <li><a href='/addition'>Addition</a></li>
            <li><a href="javascript://" onclick="$('#content').load('/listdata');return false;">Listdata</a></li>
        </ul>
    </div>
 
    <div id="content" style="text-align: center">
    </div>

    <script src="/static/app/js/ajaxs.js"></script>
</body>
</html>