{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{% static 'app/static/css/rootroom.css' %}">
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form id="formSearch" action="/search/" method="get">
        <input class="search" type="text" name="q">
        <button class='buttons' type="submit">Search</button>
    </form>
    <a href="/rootroom">go back</a>

</body>
</html>